header.header
    section.header-container.container
        section.header-left
            include ./logo
        section.header-right
            a.control.header_control(href="https://platforma.partner-teh.ru/") Сотрудникам
            include ./address
