article.infrastructure#power
    section.infrastructure-container.container
        section.infrastructure-content.infrastructure-section
            h2.infrastructure_title.title Электроснабжение
            .infrastructure-filling
                p.infrastructure-filling_text Проектирование полного цикла электрификации 110-0,4 кВ от объектов Электросетевых компаний до принимающих устройств Заявителя
                ul.infrastructure-filling-enumeration
                    li.infrastructure-filling-enumeration_enum Электрических трансформаторных подстанций, открытых и закрытых распределительных устройств
                    li.infrastructure-filling-enumeration_enum Линейных объектов на базе металлических, многогранных и композитных опор
                    li.infrastructure-filling-enumeration_enum кабельных сетей
                    li.infrastructure-filling-enumeration_enum объектов микрогенерации
                    li.infrastructure-filling-enumeration_enum систем интеллектуального учета электроэнергии
                    li.infrastructure-filling-enumeration_enum систем автоматизации
                    li.infrastructure-filling-enumeration_enum современных цифровых систем мониторинга и управления энергообъектом
                p.infrastructure-filling_text Применяемые решения на современном оборудовании, изделиях и материалах в полном соответствии требованиям нормативных документов и политик компаний в области энергосбережения, энергоэффективности, экологичности и экономической эффективности
        section.infrastructure-image__wrapper.infrastructure-section
            picture
                source(media="(max-width: 991.98px)", srcset="@images/infrastructure/power_mobile.png")
                img.infrastructure-image(src="@images/infrastructure/power.png", alt="")
article.infrastructure#gas
    section.infrastructure-container.container
        section.infrastructure-content.infrastructure-section
            h2.infrastructure_title.title Газоснабжение
            .infrastructure-filling
                p.infrastructure-filling_text Проектирование полного цикла электрификации 110-0,4 кВ от объектов Электросетевых компаний до принимающих устройств Заявителя
                ul.infrastructure-filling-enumeration
                    li.infrastructure-filling-enumeration_enum Электрических трансформаторных подстанций, открытых и закрытых распределительных устройств
                    li.infrastructure-filling-enumeration_enum Линейных объектов на базе металлических, многогранных и композитных опор
                    li.infrastructure-filling-enumeration_enum кабельных сетей
                    li.infrastructure-filling-enumeration_enum объектов микрогенерации
                    li.infrastructure-filling-enumeration_enum систем интеллектуального учета электроэнергии
                    li.infrastructure-filling-enumeration_enum систем автоматизации
                    li.infrastructure-filling-enumeration_enum современных цифровых систем мониторинга и управления энергообъектом
                p.infrastructure-filling_text Применяемые решения на современном оборудовании, изделиях и материалах в полном соответствии требованиям нормативных документов и политик компаний в области энергосбережения, энергоэффективности, экологичности и экономической эффективности
        section.infrastructure-image__wrapper.infrastructure-section
            picture
                source(media="(max-width: 991.98px)", srcset="@images/infrastructure/gas_mobile.png")
                img.infrastructure-image(src="@images/infrastructure/gas.png", alt="")
article.infrastructure#communication
    section.infrastructure-container.container
        section.infrastructure-content.infrastructure-section
            h2.infrastructure_title.title Системы связи
            .infrastructure-filling
                p.infrastructure-filling_text Проектирование полного цикла электрификации 110-0,4 кВ от объектов Электросетевых компаний до принимающих устройств Заявителя
                ul.infrastructure-filling-enumeration
                    li.infrastructure-filling-enumeration_enum Электрических трансформаторных подстанций, открытых и закрытых распределительных устройств
                    li.infrastructure-filling-enumeration_enum Линейных объектов на базе металлических, многогранных и композитных опор
                    li.infrastructure-filling-enumeration_enum кабельных сетей
                    li.infrastructure-filling-enumeration_enum объектов микрогенерации
                    li.infrastructure-filling-enumeration_enum систем интеллектуального учета электроэнергии
                    li.infrastructure-filling-enumeration_enum систем автоматизации
                    li.infrastructure-filling-enumeration_enum современных цифровых систем мониторинга и управления энергообъектом
                p.infrastructure-filling_text Применяемые решения на современном оборудовании, изделиях и материалах в полном соответствии требованиям нормативных документов и политик компаний в области энергосбережения, энергоэффективности, экологичности и экономической эффективности
        section.infrastructure-image__wrapper.infrastructure-section
            picture
                source(media="(max-width: 991.98px)", srcset="@images/infrastructure/communication_mobile.png")
                img.infrastructure-image(src="@images/infrastructure/communication.png", alt="")
