main.main
    section.main-container.container
        section.main-content
            h1.main_title.title Проектирование инфраструктур
            p.main_subtitle.text Проектирование инфраструктур любой сложности с максимальной ответственностью
            section.main-controls
                button.main-control.control.control--blue(data-name="power")
                    p.main-control_text Электроснабжение
                button.main-control.control.control--blue(data-name="gas")
                    p.main-control_text Газоснабжение
                button.main-control.control.control--blue(data-name="communication")
                    p.main-control_text Системы связи
        section.main-image__wrapper(data-images="default,power,gas,communication")
            //- img.main-image(src="@images/main_image_states/default.png", alt="")
        ul.main-cards
            li.main-card
                span.main-card_enumeration
                p.main-card_text Более
                    b.main-card_text--bold &nbsp;1000&nbsp;
                        br
                    | разработанных проектов
            li.main-card
                span.main-card_enumeration
                p.main-card_text Более
                    b.main-card_text--bold &nbsp;10&nbsp;
                        br
                    | специализированных отделов
            li.main-card
                span.main-card_enumeration
                p.main-card_text Выдача согласованной документации полным пакетом с лицензиями, разрешениями и допусками
            li.main-card
                span.main-card_enumeration
                p.main-card_text Весь комплекс предпроектных и проектных работ, авторского надзора в соответствии с существующими требованиями РФ
            li.main-card
                span.main-card_enumeration
                p.main-card_text Выполнение работ в установленные сроки благодаря интеллектуальным программным решениям контроля и оптимизации процессов
