article.partners
    section.partners-container.container
        h2.partners_title.title Наши партнёры
        ul.partners-list
            li.partners-partner
                img.partners-partner_logo(src="@images/partners/partner.svg", alt="")
            li.partners-partner
                img.partners-partner_logo(src="@images/partners/partner.svg", alt="")
            li.partners-partner
                img.partners-partner_logo(src="@images/partners/partner.svg", alt="")
            li.partners-partner
                img.partners-partner_logo(src="@images/partners/partner.svg", alt="")
            li.partners-partner
                img.partners-partner_logo(src="@images/partners/partner.svg", alt="")
            li.partners-partner
                img.partners-partner_logo(src="@images/partners/partner.svg", alt="")
