section#rights
    p#roghts-text
        | &copy;&ensp;
        span#rights_year
        | &ensp;
        span#rights_company ООО “Партнер”.
        | &ensp;
        span#rights_wording Все права защищены.
