.auth {
    position: absolute;
    left: calc(50% - 250px); top: calc(50% - 200px);
    width: 500px; height: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    &-header {
        padding: 20px !important;
        background-color: #f8f9fa !important;
    }
    &_title {
        margin: 0 auto;
    }
    &-form {
        padding: 30px;
        background-color: #f8f9fa;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        &_controll {
            padding: 15px;
            color: #343434;
            background-color: #E9ECEF;
            border-radius: 20px;
            font-size: 20px;
            line-height: 20px;
            font-weight: 600;
        }
        &-footer {
            display: flex;
        }
    }
}
