.project {
    grid-column: 1 / 10;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    &-name,
    &-parameters {
        margin-bottom: 20px;
        padding: 20px;
        background-color: $GRAY_300;
        border-radius: 30px;
        font-size: 20px;
        font-weight: 600;
    }
    &-parameters {
        display: flex;
        justify-content: space-between;
    }
    &_num {
        line-height: 20px;
        font-size: 20px;
        font-weight: 500;
        &--num {
            font-weight: 600;
        }
    }
    &-data {
        border-radius: 30px;
        background-color: #fff;
    }
}
@import './approvals';
@import './footer';