ul.approvals
    li.approvals_approv.approvals_approv--done Россети
    li.approvals_approv.approvals_approv--done Россети
    li.approvals_approv.approvals_approv--done Россети
    li.approvals_approv.approvals_approv--done Связь
    li.approvals_approv.approvals_approv--done Газ
    li.approvals_approv.approvals_approv--active Россети
    li.approvals_approv.approvals_approv--deactive Министерство
    li.approvals_approv.approvals_approv--deactive Россети
    li.approvals_approv.approvals_approv--deactive Россети
    li.approvals_approv.approvals_approv--deactive Россети
    li.approvals_approv Россети
    li.approvals_approv Россети
    li.approvals_approv Россети
    li.approvals_approv Россети