main#main
    article.project
        header.project-header
            h2.project-name Проект для работы объекта некоего человека
            h3.project-parameters
                span.project-parameters_before 10м
                | |
                span.project-parameters_after 29м
        ul.stages
            li.stage.stage--done
                .stage-header
                    time.stage_time(datetime="21.02.2017") 21.02.2017
                    .stage_status 1
                h4.stage_name Обследование
                .implementor
                    .implementor_photo
                        img(src="@images/admin.jpg", alt="")
                    h4.implementor_name Вадим
            li.stage.stage--done
                .stage-header
                    time.stage_time(datetime="21.02.2017") 21.02.2017
                    .stage_status 2
                h4.stage_name Геодезические изыскания
                .implementor
                    .implementor_photo
                        img(src="@images/admin.jpg", alt="")
                    h4.implementor_name Вадим
            li.stage.stage--done
                .stage-header
                    time.stage_time(datetime="21.02.2017") 21.02.2017
                    .stage_status 3
                h4.stage_name Проектирование объекта
                .implementor
                    .implementor_photo
                        img(src="@images/admin.jpg", alt="")
                    h4.implementor_name Вадим
            li.stage.stage--active
                .stage-header
                    time.stage_time(datetime="21.02.2017") 21.02.2017
                    .stage_status 4
                h4.stage_name Печать для согласований
                .implementor
                    .implementor_photo
                        img(src="@images/admin.jpg", alt="")
                    h4.implementor_name Вадим
            li.stage.stage--deactive
                .stage-header
                    time.stage_time(datetime="21.02.2017") 21.02.2017
                    .stage_status 5
                h4.stage_name Согласование
                .implementor
                    .implementor_photo
                        img(src="@images/admin.jpg", alt="")
                    h4.implementor_name Вадим
            li.stage
                .stage-header
                    time.stage_time(datetime="00.00.0000") 00.00.0000
                    .stage_status 6
                h4.stage_name Сметная документация
                .implementor
                    .implementor_photo
                        img(src="@images/admin.jpg", alt="")
                    h4.implementor_name Вадим
            li.stage
                .stage-header
                    time.stage_time(datetime="00.00.0000") 00.00.0000
                    .stage_status 7
                h4.stage_name Согласование заказчика
                .implementor
                    .implementor_photo
                        img(src="@images/admin.jpg", alt="")
                    h4.implementor_name Вадим
            li.stage
                t.stage-header
                    time.stage_time(datetime="00.00.0000") 00.00.0000
                    .stage_status 8
                h4.stage_name Печать для сдачи
                .implementor
                    .implementor_photo
                        img(src="@images/admin.jpg", alt="")
                    h4.implementor_name Вадим
            li.stage
                .stage-header
                    time.stage_time(datetime="00.00.0000") 00.00.0000
                    .stage_status 9
                h4.stage_name Сдача по накладной
                .implementor
                    .implementor_photo
                        img(src="@images/admin.jpg", alt="")
                    h4.implementor_name Вадим
        include ./approvals
        include ./footer
    aside.menu

