section.messenger
    .messenger-view
        .messenger-message
            p.messenger-message-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut officia commodi doloribus, molestiae aperiam dolorem repudiandae, quasi vero voluptates debitis veniam exercitationem omnis illum. Et repellat laudantium id, cum obcaecati amet molestiae enim expedita est, nulla ut esse quas, nihil corrupti! Dicta alias veniam autem doloremque aspernatur quia dolore. Debitis.
            footer.messenger-message-user
                img(src="@images/admin.jpg", alt="")
                .messenger-message-user_name Вадим
                    span.messenger-message-user_status Администратор
        .messenger-message
            p.messenger-message-text o voluptates debitis veniam exercitationem omnis illum. Et repellat laudantium id, cum obcaecati amet molestiae enim expedita est, nulla ut esse quas, nihil corrupti! Dicta alias veniam autem doloremque aspernatur quia dolore. Debitis.
            footer.messenger-message-user
                img(src="@images/shah.jpg", alt="")
                .messenger-message-user_name Шахриёри
                    span.messenger-message-user_status IT-машина
        .messenger-message
            p.messenger-message-text um obcaecati amet molestiae enim expedita est, nulla ut esse quas, nihil corrupti! Dicta alias veniam autem doloremque aspernatur quia dolore. Debitis.
            footer.messenger-message-user
                img(src="@images/admin.jpg", alt="")
                .messenger-message-user_name Вадим
                    span.messenger-message-user_status Администратор
    .messenger-input
        input.messenger-input_input
        button.messenger-input_button
            svg
                use(xlink:href="@images/sprite.svg#send")